<div class="block has-text-centered">
    <em class="is-size-7">Copyright &copy; 2006-{{ now.Format "2006" }} Tanner D. Mckenney</em>
</div>
<div class="block">
    <div class="buttons has-addons is-centered">
        <a href="https://github.com/tdmckenney0" class="button is-small">
            <span class="icon is-medium">
                <i class="fab fa-github"></i>
            </span>
            <span>GitHub</span>
        </a>
        <a href="https://www.linkedin.com/in/tmckenney7" class="button is-small">
            <span class="icon is-medium">
                <i class="fab fa-linkedin"></i>
            </span>
            <span>LinkedIn</span>
        </a>
        <a href="https://github.com/tdmckenney0/tmckenney.com" class="button is-small">
            <span class="icon is-medium">
                <i class="fa-solid fa-code"></i>
            </span>
            <span>Source</span>
        </a>
    </div>
</div>