<div class="block has-text-centered">
    <em class="is-size-7">Copyright &copy; 2006-{{ now.Format "2006" }} Tanner D. Mckenney</em>
</div>
<div class="block">
    <div class="buttons has-addons is-centered">
        <a href="https://github.com/tdmckenney0" class="button is-small">Github</a>
        <a href="https://www.linkedin.com/in/tmckenney7" class="button is-small">LinkedIn</a>
        <a href="https://github.com/tdmckenney0/tmckenney.com" class="button is-small">Source</a>
    </div>
</div>