<div class="footer-content">
    <div class="footer-links">
        <a href="https://github.com/tdmckenney0" class="social-btn">
            <i class="fab fa-github"></i>
            <span>GitHub</span>
        </a>
        <a href="https://www.linkedin.com/in/tmckenney7" class="social-btn">
            <i class="fab fa-linkedin"></i>
            <span>LinkedIn</span>
        </a>
        <a href="https://github.com/tdmckenney0/tmckenney.com" class="social-btn">
            <i class="fa-solid fa-code"></i>
            <span>Source</span>
        </a>
    </div>
    <div class="footer-copyright">
        <p>Copyright &copy; 2006-{{ now.Format "2006" }} Tanner D. Mckenney</p>
    </div>
</div>