<nav>
    <div class="tabs is-centered">
        <ul>
            <li class="{{ if .IsHome}}is-active{{ end }}">
                <a href="/">
                    <span class="icon is-small"><i class="fas fa-house" aria-hidden="true"></i></span>
                    <span>Home</span>
                </a>
            </li>
            <li {{ if eq .Section "articles" }}class="is-active" {{ end }}>
                <a href="/articles">
                    <span class="icon is-small"><i class="fas fa-newspaper" aria-hidden="true"></i></span>
                    <span>Articles</span>
                </a>
            </li>
            <li {{ if eq .RelPermalink "/about-me/" }}class="is-active" {{ end }}>
                <a href="/about-me">
                    <span class="icon is-small"><i class="fas fa-address-book" aria-hidden="true"></i></span>
                    <span>About Me</span>
                </a>
            </li>
        </ul>
    </div>
</nav>