{{ define "main" }}
<h1 class="title has-text-justified is-uppercase">Welcome</h1>
<div class="block has-text-justified">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur cursus pretium. Aliquam maximus metus
    nec tortor accumsan, sit amet dignissim ipsum condimentum. Donec luctus dapibus vulputate. Praesent iaculis tortor
    sem, ut pretium libero sollicitudin id. Aenean ut magna sit amet lacus rhoncus molestie. Donec eu justo sit amet
    nibh sollicitudin tincidunt nec vitae urna. Nam blandit tempor fermentum. Duis elementum mauris non vestibulum
    varius.
</div>
{{ end }}